<!-- Start: Site Content Container -->
<div class="site-content">
    <div class="user-form">
        <div *ngIf="error && !success"  class="flash err">{{error}}<span close-flash class="fa fa-close"></span></div>
        <div *ngIf="success && !error"  class="flash success">{{success}}<span close-flash class="fa fa-close"></span></div>
        <div class="user-form--group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="user-input" required>
        </div>
        <button [disabled]="!email" (click)="submit()" class="btn btn-gr">Sign Up</button>
    </div>
</div>
<!-- End: Site Content Container -->