<!-- Start: Site Header -->
<div class="site-header" >
    <div class="site-nav--primary">
        <a [routerLink]="['']" class="site-logo">CXX</a>
        <div class="search-form">
            <span class="fa fa-search"></span>
            <img *ngIf="searchLoader" src="http://www.betterbutter.in/loading_recipe_image.gif" alt="" class="search-loader">
            <input type="search" (blur)="hideSearchList()" (keyup)="searchProduct($event)" placeholder="Search for mobiles,laptops......"/>
            <div *ngIf="searchList?.products" class="search-list">
                <a [routerLink]="['products',product?._id]" *ngFor="let product of searchList?.products">{{product?.title}}</a>
            </div>
        </div>
        <a *ngIf="isLoggedIn && isAdmin" [routerLink]="['admin']" class="admin-btn btn btn-in">Admin</a>
        <a *ngIf="!isLoggedIn"  [routerLink]="['signup']" class="login-btn btn btn-gr">Sign Up</a>
        <a *ngIf="!isLoggedIn" [routerLink]="['signin']" class="login-btn btn btn-gr">Sign In</a>
        <a *ngIf="isLoggedIn" (click)="triggerShowOrders()" class="login-btn btn btn-bl">Orders</a>
        <a *ngIf="isLoggedIn" (click)="signOut()" class="login-btn btn btn-gr">Sign Out</a>
        <a [routerLink]="['cart']" class="cart-btn btn"><span class="fa fa-shopping-cart"><i class="cart-badge">{{countCart}}</i></span></a>
    </div>
    <div class="site-nav--secondary">
        <ul class="nav-list">
            <li *ngFor="let category of categories" class="nav-list--item">{{category?.name}}
                    <i class="fa fa-angle-down"></i>
                    <div *ngIf="category.childs[0]" class="nav-list--dropdown">
                        <a [routerLink]="['products/category',child?.name]" [queryParams]="{child:true}" *ngFor="let child of category.childs">{{child?.name}}</a>
                    </div>
            </li>
        </ul>
    </div>
</div> <!-- End: Site Header -->