<!-- Start: Site Content Container -->
<div class="site-content">
        <div class="site-content--featured">
            <div class="featured_content">
                <h2>MACBOOK PRO</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                <a href="" class="btn">See Product</a>
            </div>
            <img src="assets/images/image_4.png" alt="" class="featured_image">
        </div>
        <div class="site-content--main">
            <div class="products-container">
                <div *ngFor="let product of products;" class="product-container--item">
                    <div class="item-layer">
                        <span (click)="addToCart(product)" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</span>
                        <a [routerLink]="['products',product._id]" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                    </div>
                    <div class="item-image">
                        <img src='http://localhost:8080/images/{{product.productImg}}' alt="">
                    </div>
                    <div class="item-content">
                        <h3>{{product?.productTitle|slice:0:25}}...</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align:center;"  *ngIf="products?.length == 0">Products are not available.</p>
            <div class="products-thumbnail">
                <div class="products-thumbnail--card">
                    <div class="layer">
                        <a href="" class="btn btn-wh">SEE NOW</a>
                    </div>
                    <img src="assets/images/image_2.jpg" alt="">
                </div>
                <div class="products-thumbnail--card">
                    <div class="layer">
                        <a href="" class="btn btn-wh">SEE NOW</a>
                    </div>
                    <img src="assets/images/image_1.jpg" alt="">
                </div>
                <div class="products-thumbnail--card">
                    <div class="layer">
                        <a href="" class="btn btn-wh">SEE NOW</a>
                    </div>
                    <img src="assets/images/image_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- End: Site Content Container -->