<!-- Start: Site Content Container -->
<div class="site-content">
        <div class="site-content--featured">
            <div class="featured_content">
                <h2>MACBOOK PRO</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                <a href="" class="btn">See Product</a>
            </div>
            <img src="images/image_4.png" alt="" class="featured_image">
        </div>
        <div class="site-content--main">
            <div class="products-container">
                <div class="product-container--item">
                    <div class="item-layer">
                        <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                        <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                    </div>
                    <div class="item-image">
                        <img src="images/image_3.png" alt="">
                    </div>
                    <div class="item-content">
                        <h3>Nikon D100</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
                <div class="product-container--item">
                    <div class="item-layer">
                        <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                        <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                    </div>
                    <div class="item-image">
                        <img src="images/image_4.png" alt="">
                    </div>
                    <div class="item-content">
                        <h3>Nikon D100</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
                <div class="product-container--item">
                    <div class="item-layer">
                        <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                        <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                    </div>
                    <div class="item-image">
                        <img src="images/image_5.png" alt="">
                    </div>
                    <div class="item-content">
                        <h3>Nikon D100</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
                <div class="product-container--item">
                    <div class="item-layer">
                        <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                        <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                    </div>
                    <div class="item-image">
                        <img src="images/image_3.png" alt="">
                    </div>
                    <div class="item-content">
                        <h3>Nikon D100</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
                <div class="product-container--item">
                    <div class="item-layer">
                        <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                        <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                    </div>
                    <div class="item-image">
                        <img src="images/image_3.png" alt="">
                    </div>
                    <div class="item-content">
                        <h3>Nikon D100</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
                <div class="product-container--item">
                    <div class="item-layer">
                        <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                        <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                    </div>
                    <div class="item-image">
                        <img src="images/image_3.png" alt="">
                    </div>
                    <div class="item-content">
                        <h3>Nikon D100</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-thumbnail">
                <div class="products-thumbnail--card">
                    <div class="layer">
                        <a href="" class="btn btn-wh">SEE NOW</a>
                    </div>
                    <img src="images/image_2.jpg" alt="">
                </div>
                <div class="products-thumbnail--card">
                    <div class="layer">
                        <a href="" class="btn btn-wh">SEE NOW</a>
                    </div>
                    <img src="images/image_1.jpg" alt="">
                </div>
                <div class="products-thumbnail--card">
                    <div class="layer">
                        <a href="" class="btn btn-wh">SEE NOW</a>
                    </div>
                    <img src="images/image_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- End: Site Content Container -->