<div class="child-category">
    <div class="panel-form">
        <select [(ngModel)]="parent">
            <option value="">Parent Category</option>
            <option *ngFor="let category of categories;let i=index;" value="{{category?.name}}">{{category?.name}}</option>
        </select>
        <input type="text" [(ngModel)]="name" placeholder="Child Category">
        <button [disabled]="!name || !type || !parent" (click)="addCategory()" class="btn btn-submit">ADD SUB CATEGORY</button>
    </div>
    <ul class="category-list">
        <li *ngFor="let child of c_categories;let i=index;">{{child?.name}} <span>({{child?.parent}})</span></li>
    </ul>
</div>