<div class="child-category">
    <form action="" class="panel-form">
        <select name="parent_cat" id="">
            <option value="">1</option>
        </select>
        <input type="text" name="child_cat" placeholder="Child Category">
        <button class="btn btn-submit">ADD SUB CATEGORY</button>
    </form>
    <ul class="category-list">
        <li>Item <span>(Parent)</span></li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ul>
</div>