 <!-- Start: Site Content Container -->
 <div class="site-content">
    <div class="site-content--featured">
        <h2 class="featured-heading">SHOES</h2>
        <div class="featured-image">
            <img src="images/image_1.jpg" alt="">
        </div>
        <div class="featured-layer"></div>
    </div>
    <div class="site-content--main">
        <div class="filter-options">
            <div class="select-group">
                <select name="" id="">
                    <option value="">VALUE 1</option>
                    <option value="">VALUE 2</option>
                    <option value="">VALUE 3</option>
                    <option value="">VALUE 4</option>
                    <option value="">VALUE 5</option>
                </select>
                <span class="fa fa-angle-down"></span>
            </div>
        </div>
        <div class="products-container single-category">
            <div class="product-container--item">
                <div class="item-layer">
                    <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                    <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                </div>
                <div class="item-image">
                    <img src="images/image_3.png" alt="">
                </div>
                <div class="item-content">
                    <h3>Nikon D100</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <div class="product-container--item">
                <div class="item-layer">
                    <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                    <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                </div>
                <div class="item-image">
                    <img src="images/image_4.png" alt="">
                </div>
                <div class="item-content">
                    <h3>Nikon D100</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <div class="product-container--item">
                <div class="item-layer">
                    <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                    <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                </div>
                <div class="item-image">
                    <img src="images/image_5.png" alt="">
                </div>
                <div class="item-content">
                    <h3>Nikon D100</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <div class="product-container--item">
                <div class="item-layer">
                    <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                    <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                </div>
                <div class="item-image">
                    <img src="images/image_3.png" alt="">
                </div>
                <div class="item-content">
                    <h3>Nikon D100</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <div class="product-container--item">
                <div class="item-layer">
                    <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                    <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                </div>
                <div class="item-image">
                    <img src="images/image_3.png" alt="">
                </div>
                <div class="item-content">
                    <h3>Nikon D100</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <div class="product-container--item">
                <div class="item-layer">
                    <a href="" class="btn btn-bl"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                    <a href="" class="btn btn-gr"><i class="fa fa-eye"></i>See Product</a>
                </div>
                <div class="item-image">
                    <img src="images/image_3.png" alt="">
                </div>
                <div class="item-content">
                    <h3>Nikon D100</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-in">Load More</button>
    </div>
</div>
<!-- End: Site Content Container -->