<!-- Start: Site Content Container -->
<div class="site-content">
    <div class="site-content--featured">
        <h2 class="featured-heading">{{this.title}}</h2>
        <div class="featured-image">
            <img src="https://unsplash.it/500/500" alt="">
        </div>
        <div class="featured-layer"></div>
    </div>
    <div class="site-content--main">
        <!-- <div class="filter-options">
            <div class="select-group">
                <select name="" id="">
                    <option value="">VALUE 1</option>
                    <option value="">VALUE 2</option>
                    <option value="">VALUE 3</option>
                    <option value="">VALUE 4</option>
                    <option value="">VALUE 5</option>
                </select>
                <span class="fa fa-angle-down"></span>
            </div>
        </div> -->
        <div class="products-container single-category">
            <div *ngFor="let product of products;let i=index;" class="product-container--item">
                <div class="item-layer">
                    <a (click)="addToCart(product)" class="btn btn-bl">
                        <i class="fa fa-shopping-cart"></i>Add To Cart</a>
                    <a [routerLink]="['/products',product._id]" class="btn btn-gr">
                        <i class="fa fa-eye"></i>See Product</a>
                </div>
                <div class="item-image">
                    <img src="images/{{product.productImg}}" alt="">
                </div>
                <div class="item-content">
                    <h3>{{product?.productTitle|slice:0:25}}...</h3>
                    <div class="rating">
                        <i *ngFor="let stars of fullStars[i];" class="fa fa-star"></i>
                        <i *ngFor="let stars of halfStars[i];" class="fa fa-star-half"></i>
                        <i *ngFor="let stars of noStars[i];" class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <p style="text-align:center;" *ngIf="products?.length == 0">{{this.title}} are not available.</p>
        <button *ngIf="products?.length == 12" class="btn btn-in">Load More</button>
    </div>
</div>
<!-- End: Site Content Container -->