<div class="parent-category">
    <form action="" class="panel-form">
        <input type="text" name="parent_cat" placeholder="Parent Category">
        <button class="btn btn-submit">ADD CATEGORY</button>
    </form>
    <ul class="category-list">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ul>
</div>