<div class="panel-actions">
    <a [routerLink]="['/admin/products']" class="btn btn-admin"><i class="fa fa-angle-left"></i></a>
    <a *ngIf="editMode" [routerLink]="['/admin/product/add']" class="btn btn-admin"><i class="fa fa-plus"></i>Add New Product</a>
    <span *ngIf="editMode" (click)="removeProduct()" class="btn btn-danger"><i class="fa fa-trash" ></i>Remove Product</span>
</div>
<form [formGroup]="productForm" (ngSubmit)="(editMode)?updateProduct():addProduct()" class="panel-form">
    <div class="form-group">
        <label for="product-name">Product Name</label>
        <input type="text" formControlName="product_name" id="product-name">
    </div>
    <div class="input-group">
        <div class="input-container">
                <label for="price">Price</label>
                <input type="text" formControlName="product_price" id="product-price">
        </div>
        <div class="input-container">
                <label for="product-qty">Quantity</label>
                <input type="text" formControlName="product_qty" id="product-qty">
        </div>
    </div>
    <div class="select-group full">
       <div class="select-container full">
            <label for="">Category</label>
            <select  (change)="loadChild($event.target.value)" formControlName="product_p_cat">
                <option value="">Parent Category</option>
                <option *ngFor="let category of categories;let i=index;"
                    value="{{category?.name}}">{{category?.name}}</option>
            </select>
       </div>
       <div class="select-container full">
           <label for="">Sub Category</label>
           <select formControlName="product_c_cat">
                <option value="">Child Category</option>
                <option *ngFor="let category of c_Categories;let i=index;"
                    value="{{category?.name}}" >{{category?.name}}</option>
            </select>
       </div>
    </div>
    <div class="form-group">
        <div class="form-group--header">
            <label for="">Features</label>
            <button type="button" (click)="addFeatures()" class="btn btn-admin">ADD</button>
        </div>
        <div class="list-group">
            <div formArrayName="product_f_types" class="input-container">
                <input type="text" *ngFor="let types of featureTypes.controls;let i=index;" [formControlName]="i" placeholder="Type">
            </div>
            <div formArrayName="product_f_values" class="input-container">
                <input type="text" *ngFor="let values of featureValues.controls;let i=index;" [formControlName]="i" placeholder="Feature">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Upload Image</label>
        <div *ngIf="editMode">
            <img [src]="imgSrc" [alt]="product.productImg" style="width:100px;height:100px;margin:25px 0;">
            <div *ngIf="imageUploadProgress"  class="progress-bar">
                <div class="progress" #progress></div>
            </div>
            <span *ngIf="imageUploadProgress">{{percentageUpload}}% done</span>
        </div>
        <label for="upload" class="btn btn-file"><i class="fa fa-camera"></i>{{(editMode)?"Change Image":"Upload Image"}}</label>
        <input  (change) = "editMode ? updateProductImage() :false" type="file" name="upload" id="upload" #upload accept="image/*"  [disabled]="disable">
    </div>
    <div class="form-group">
        <label for="description">Product Featured Description</label>
        <textarea formControlName="product_desc" id="description" maxlength="350"></textarea>
    </div>
    <button [disabled]="productForm.invalid || disable" class="btn btn-submit">{{(editMode)?'Update Product':'Add Product'}}</button>
</form>