<div class="panel-tabs">
    <a [routerLink]="['product/add']" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-shopping-bag"></span>
            <span>Products</span>
        </div>
        <span class="count-item">4</span>
    </a>
    <a href="" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-shopping-cart"></span>
            <span>Orders</span>
        </div>
        <span class="count-item">5</span>
    </a>
    <a href="" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-users"></span>
            <span>Users</span>
        </div>
        <span class="count-item">25</span>
    </a>
    <a [routerLink]="['category/add']" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-folder"></span>
            <span>Categories</span>
        </div>
        <span class="count-item">45</span>
    </a>
</div>