<div class="panel-tabs">
    <a [routerLink]="['products']" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-shopping-bag"></span>
            <span>Products</span>
        </div>
        <span class="count-item">{{counts?.products}}</span>
    </a>
    <a href="" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-shopping-cart"></span>
            <span>Orders</span>
        </div>
        <span class="count-item">0</span>
    </a>
    <a [routerLink]="['users']" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-users"></span>
            <span>Users</span>
        </div>
        <span class="count-item">{{counts?.users}}</span>
    </a>
    <a [routerLink]="['category/add']" class="panel-tabs--item">
        <div class="item-container">
            <span class="icon fa fa-folder"></span>
            <span>Categories</span>
        </div>
        <span class="count-item">{{counts?.categories}}</span>
    </a>
</div>