<!-- Start: Site Content Container -->
<div class="site-content">
    <div class="site-content--main">
        <div class="single-product">
            <div class="single-product--header">
                <img *ngIf="product?.productImg" src='http://localhost:8080/images/{{product.productImg}}' alt="">
                <div class="product-content">
                    <span class="product-content--title">{{product?.productTitle}}</span>
                    <div class="product-content--extra">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="seller">Sold By <a href="">CXX</a></span>
                    </div>
                    <span class="product-content--price">${{product?.productPrice}}</span>
                    <div class="product-content--desc">{{product?.product_desc}}</div>
                    <div class="product-content--actions">
                        <a href="" class="btn btn-gr-drk">ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="single-product--content">
                <div class="single-features">
                    <h2>Specs</h2>
                    <ul class="spec-list">
                        <li *ngFor="let type of featureTypes;let i=index;" class="spec-list--item">
                            <span>{{type}}</span> <span>{{featureValues[i]}}</span>
                        </li>
                    </ul>
                </div>
                <div class="single-reviews">
                    <h2>Reviews</h2>
                    <div class="review-list">
                        <div class="review-list--item">
                            <div class="user-review">
                                <div class="profile-image">
                                    <img src="https://unsplash.it/200/200" alt="">
                                </div>
                                <div class="review-content">
                                    <h3>Ashish Mehra</h3>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="review-duration">
                                    2 months ago
                                </div>
                            </div>
                            <div class="review-desc">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                            </div>
                        </div>
                        &nbsp;
                        <div class="review-list--item">
                            <div class="user-review">
                                <div class="profile-image">
                                    <img src="https://unsplash.it/200/200" alt="">
                                </div>
                                <div class="review-content">
                                    <h3>Ashish Mehra</h3>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="review-duration">
                                    2 months ago
                                </div>
                            </div>
                            <div class="review-desc">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End: Site Content Container -->