@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Comfortaa|Exo:900|Forum|Lato:300|Monoton');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: #f7f7f7;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}

input,
button {
  border: none;
  width: 100%;
  padding: 5px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid #ff0000;
}

form.ng-invalid>button:last-child {
  opacity: 0.7;
  cursor: not-allowed;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.1875em;
}

h2 {
  font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

hr {
  opacity: 0.1;
  margin: 0.625em auto;
}

.user-form .flash,
.site-nav--primary,
.site-content--featured,
.site-content--main .products-container,
.site-content--main .filter-options,
.site-footer .footer-form,
.site-nav--primary .search-form,
.site-nav--primary .login-btn,
.site-nav--primary .admin-btn,
.site-nav--primary .cart-btn,
.site-nav--primary .cart-badge,
.site-nav--secondary .nav-list,
.site-nav--secondary .nav-list li,
.product-container--item,
.product-container--item .item-layer,
.products-thumbnail,
.products-thumbnail--card .layer,
.single-product--header,
.single-product--header .product-content--extra,
.single-product--content .spec-list li,
.single-product--content .review-list--item .user-review,
.cart-header,
.cart-content--item,
.cart-content--item .actions,
.review-form--meta {
  display: flex;
  flex-wrap: wrap;
}

.user-form .flash {
  padding: 0.9375em;
  color: #fff;
  margin: 1.5625em 0;
  background: #bfbfbf;
  font-size: 0.875em;
}

.site-content--featured .featured_content h2,
.site-content--featured .featured-heading {
  font-family: 'Exo', sans-serif;
  letter-spacing: 0.0625em;
  color: #fff;
  font-size: 3.4375em;
}

.site-header {
  background: #fff;
}

.site-content {
  position: relative;
  background: transparent;
  padding: 1px 0 0 0;
  margin: -1px auto 0 auto;
  z-index: 99;
}

.site-content--main .products-container,
.site-content--main .filter-options {
  width: 56.25em;
  margin: 4.6875em auto;
}

.site-content--main .products-container.single-category,
.site-content--main .filter-options.single-category {
  margin: 1.5625em auto;
}

.site-content--main .cart-container {
  width: 80%;
  margin: 1.5625em auto;
  background: #fff;
  min-height: 3.125em;
}

.site-content--main button {
  display: block;
  width: 9.375em;
  padding: 0.9375em;
  margin: 2.8125em auto;
  border-radius: 3.125em;
}

.site-footer {
  background: #d9d9d9;
  width: 100%;
  height: 300px;
  margin-top: 12.5em;
}

.site-footer.single {
  background: transparent;
  width: 100%;
  height: auto;
  margin: 0.625em;
}

.site-footer .footer-form {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  transform: translateY(-70px);
  padding: 0.625em 0.9375em;
  background: #fff;
  border-radius: 0.3125em;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.site-footer .footer-form .info span {
  display: block;
  margin: 1.5625em 0;
}

.site-footer .footer-form .info span i {
  margin-right: 0.4375em;
}

.site-footer .footer-form .form-group {
  position: relative;
}

.site-footer .footer-form .form-group input {
  border: 1px solid #d9d9d9;
  border-radius: 1.5625em;
  width: 100%;
  padding: 0.9375em 1.5625em;
  padding-right: 10.625em;
}

.site-footer .footer-form .form-group button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 9.375em;
  border-radius: 1.5625em;
}

.site-footer .footer-text {
  border-top: 1px solid #e6e6e6;
  text-align: center;
  padding-top: 0.625em;
  color: #a6a6a6;
}

.btn {
  padding: 0.625em 0.9375em;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  color: #fff;
  transition: 100ms ease-in;
}

.btn-gr {
  background: #38ef7d;
}

.btn-gr-drk {
  background: #12e260;
}

.btn-wh {
  background: #fff;
  color: #222;
}

.btn-bl {
  background: #222;
}

.btn-in {
  background: #396afc;
}

.btn.opaque {
  opacity: 0.5;
}

.site-nav--primary {
  max-height: 3.4375em;
}

.site-nav--primary .site-logo {
  padding: 0.9375em 1.5625em;
  border: 1px solid #f2f2f2;
  font-family: 'Exo', sans-serif;
}

.site-nav--primary .search-form {
  flex: 1;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 0.625em;
  position:relative;
}

.site-nav--primary .search-form input {
  flex: 1;
}

.site-nav--primary .search-form span {
  margin-right: 0.625em;
  font-size: 0.8125em;
  color: #7b7b7b;
}

.site-nav--primary .search-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 18.75em;
  background: #fff;
  border: 1px solid #d9d9d9;
  overflow: auto;
  z-index: 999;
}

.site-nav--primary .search-list a {
  padding: 0.625em;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  transition: 100ms ease-in;
}

.site-nav--primary .search-list a:hover {
  background: #fafafa;
}

.site-nav--primary .search-loader {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
}

.site-nav--primary .login-btn,
.site-nav--primary .cart-btn,
.site-nav--primary .admin-btn {
  align-items: center;
}

.site-nav--primary .cart-btn {
  font-size: 1.5625em;
  padding: 0.4em 1em;
}

.site-nav--primary .cart-btn>span {
  position: relative;
  color: #222;
}

.site-nav--primary .cart-badge {
  padding: 0.625em;
  align-items: center;
  border-radius: 50%;
  background: #396afc;
  justify-content: center;
  color: #fff;
  font-size: 0.3125em;
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: -0.58333em;
  right: -0.91667em;
}

.site-nav--secondary {
  box-shadow: 0 5px 25px 0 rgba(34, 34, 34, 0.1);
}

.site-nav--secondary .nav-list li {
  position: relative;
  padding: 0.9375em 1.5625em;
  border-right: 1px solid #f2f2f2;
  align-items: center;
  cursor: pointer;
  transition: 100ms ease-in;
}

.site-nav--secondary .nav-list li i {
  margin-left: 0.4375em;
  transition: 300ms ease-in;
}

.site-nav--secondary .nav-list--dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  background: #fff;
  border: 1px solid #e6e6e6;
  transform: translateY(5px);
  transition: opacity 200ms 100ms ease-in, transform 300ms ease-in;
  opacity: 0;
  overflow: hidden;
}

.site-nav--secondary .nav-list--dropdown a {
  display: block;
  text-align: center;
  padding: 0.9375em 0.625em;
  color: #222;
  border-bottom: 1px solid #f2f2f2;
  transition: 100ms ease-in;
}

.user-form {
  width: 300px;
  height: auto;
  background: #fff;
  margin: 3.4375em auto;
  padding: 2.1875em 1.5625em;
  border: 1px solid #f2f2f2;
}

.user-form--group {
  margin: 0.625em 0;
}

.user-form--group label {
  margin: 0.4375em 0;
  display: block;
  color: #a2a2a2;
}

.user-form button {
  border-radius: 1.5625em;
  margin: 0.9375em auto 1.875em;
  padding: 0.9375em;
  box-shadow: 8px 10px 20px 0 #d9d9d9;
  transition: 300ms cubic-bezier(0.15, -0.1, 0.13, 1.56);
  background: #20ed6e;
}

.user-form a {
  display: block;
  text-align: center;
  color: #a6a6a6;
}

.user-input {
  padding: 0.625em;
  border: 1px solid #f2f2f2;
  transition: 300ms ease-in;
}

.nav-list--item:hover {
  background: #396afc;
  color: #fff;
}

.nav-list--item:hover i {
  transform: rotate(180deg);
}

.nav-list--item:hover .nav-list--dropdown {
  height: auto;
  z-index: 999;
  transform: scale(1) translateY(0);
  opacity: 1;
}

.nav-list--item:hover .nav-list--dropdown a:hover {
  transform: scale(1.1);
}

.user-input:focus {
  border-color: #bfbfbf;
}

.user-form button:hover {
  box-shadow: 2px 4px 8px #d9d9d9;
}

.product-container--item:hover .item-layer {
  opacity: 1;
}

.user-form .flash span {
  margin-left: auto;
  cursor: pointer;
}

.user-form .flash.err {
  background: #ff0000;
}

.user-form .flash.success {
  background: #396afc;
}

.site-content--featured {
  position: relative;
  padding: 3.125em 9.375em;
  background: #222;
  align-items: center;
}

.site-content--featured .featured_content {
  flex: 1;
  color: #fff;
}

.site-content--featured .featured_content p {
  width: 37.5em;
  margin: 0.625em 0;
  font-size: 1.0625em;
  font-weight: 100;
}

.site-content--featured .featured_content a {
  margin: 0.9375em 0;
  display: inline-block;
  background: #10ca56;
  padding: 0.625em 2.1875em;
  letter-spacing: 0.0625em;
}

.site-content--featured .featured_image {
  width: 400px;
  height: 400px;
}

.site-content--featured .featured-heading {
  margin: 3.125em auto;
  z-index: 99;
}

.site-content--featured .featured-image,
.site-content--featured .featured-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.site-content--featured .featured-layer {
  background: rgba(57, 106, 252, 0.7);
  z-index: 98;
}

.single-category .product-container--item {
  transform: scale(0.9);
}

.product-container--item {
  position: relative;
  width: 0;
  height: 355px;
  flex-basis: 33.33%;
  padding: 1.5625em 0;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6e6e6;
  background: #fff;
}

.product-container--item .item-layer {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
  flex-direction: column;
  justify-content: center;
  transition: 500ms ease-in;
}

.product-container--item .item-layer .btn {
  width: 12.5em;
  margin: 0.625em auto;
  border-radius: 1.5625em;
}

.product-container--item .item-layer .btn i {
  margin-right: 0.625em;
}

.product-container--item .item-image {
  width: 225px;
  height: 200px;
  margin-top: 0.9375em;
}

.product-container--item .item-content {
  margin-top: auto;
  text-align: center;
  padding: 0.625em;
}

.product-container--item .item-content h3 {
  font-size: 0.9375em;
}

.product-container--item .item-content .rating {
  margin-top: 0.625em;
  transform: scale(0.9);
}

.products-thumbnail {
  margin: 1.5625em auto;
}

.products-thumbnail--card {
  position: relative;
  flex-basis: 33.33%;
  height: 350px;
}

.products-thumbnail--card .layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(57, 106, 252, 0.8);
  justify-content: center;
}

.products-thumbnail--card .layer .btn {
  display: inline-block;
  align-self: center;
  padding: 0.9375em;
  width: 15.625em;
}

.filter-options .select-group {
  position: relative;
  margin-left: auto;
  margin-right: 1.5625em;
}

.filter-options select {
  width: 100%;
  padding: 0.625em 2.8125em 0.625em 1.5625em;
  -webkit-appearance: none;
  border: 2px solid #bfbfbf;
  border-radius: 1.5625em;
}

.filter-options span {
  position: absolute;
  top: 10px;
  right: 15px;
}

.single-product {
  width: 100%;
  height: auto;
  padding-bottom: 2.1875em;
  background: #fff;
  border-top: 1px solid #f2f2f2;
}

.single-product--header {
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  padding: 1.5625em 3.125em;
}

.single-product--header img {
  width: 18.75em;
  align-self: center;
  height: 18.75em;
}

.single-product--header .product-content {
  width: 34.375em;
  height: auto;
  padding: 3.4375em 1.5625em;
}

.single-product--header .product-content--title {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 800;
  font-size: 2.375em;
}

.single-product--header .product-content--extra {
  justify-content: space-between;
  padding: 0.9375em 0;
}

.single-product--header .product-content--extra .seller {
  text-transform: uppercase;
}

.single-product--header .product-content--extra .seller a {
  color: #396afc;
  text-decoration: underline;
}

.single-product--header .product-content--price {
  display: block;
  font-size: 1.75em;
  font-weight: 800;
  color: #ff0000;
}

.single-product--header .product-content--desc {
  font-size: 0.9375em;
  margin: 1.5625em 0;
}

.single-product--header .product-content--actions a {
  display: inline-block;
}

.single-product--content {
  background: #f7f7f7;
  padding: 1.5625em 0 0;
}

.single-product--content .single-features,
.single-product--content .single-reviews {
  background: #fff;
  padding: 1.5625em;
}

.single-product--content .single-features h2,
.single-product--content .single-reviews h2 {
  text-transform: uppercase;
  padding-bottom: 0.625em;
  margin-bottom: 0.625em;
  border-bottom: 1px solid #f2f2f2;
}

.single-product--content .spec-list {
  width: 25.875em;
  height: auto;
}

.single-product--content .spec-list li {
  padding: 0.9375em 0;
}

.single-product--content .spec-list li span:first-child {
  font-weight: 800;
  margin-right: auto;
}

.single-product--content .review-list--item {
  border: 1px solid #f2f2f2;
  background: #fff;
  padding: 1.5625em;
  margin: 0.3125em auto;
}

.single-product--content .review-list--item .user-review .profile-image {
  width: 3.4375em;
  height: 3.4375em;
}

.single-product--content .review-list--item .user-review .review-content {
  margin-left: 0.625em;
}

.single-product--content .review-list--item .user-review .review-duration {
  margin-left: auto;
  align-self: center;
}

.single-product--content .review-list--item .review-desc {
  padding: 0.9375em 3.4375em 0 0;
}

.rating i {
  color: #f8f116;
}

.cart-header {
  padding: 1.5625em;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}

.cart-header button {
  margin: 0;
  background: #396afc;
}

.cart-content {
  padding: 1.5625em;
  max-height: 500px;
  overflow: auto;
}

.cart-content--item {
  padding: 1.5625em;
  border-bottom: 1px solid #f2f2f2;
}

.cart-content--item img {
  width: 100px;
  height: 100px;
}

.cart-content--item .item-detail {
  flex-grow: 5;
}

.cart-content--item h4 {
  font-family: 'Forum', cursive;
  margin-left: 2.5625em;
  margin-bottom: 0.75em;
}

.cart-content--item .actions {
  justify-content: space-between;
  align-items: center;
}

.cart-content--item .actions button {
  background: none;
  color: #ff0000;
  margin: 0;
  width: 15.625em;
}

.cart-content--item .actions input {
  border: 1px solid #c8c8c8;
  width: 3.125em;
  padding: 0.3125em;
}

.cart-content--item .actions span {
  font-weight: 800;
}

.cart-footer {
  padding: 1.5625em;
  text-align: right;
}

.cart-footer span {
  display: block;
  margin: 0.625em;
}

.cart-footer span:nth-child(2) {
  color: #ff0000;
}

.cart-footer span b {
  margin-left: 0.625em;
}

.review-form {
  position: fixed;
  width: 23.4375em;
  height: 100vh;
  right: 0;
  top: 0;
  transform: translateX(375px);
  transition: 100ms ease-in;
  padding: 2.8125em 1.5625em;
  z-index: 999;
  background: #fff;
  border-left: 1px solid #f2f2f2;
}

.review-form--meta {
  margin-bottom: 1.5625em;
  align-items: center;
}

.review-form--meta img {
  width: 6.25em;
  height: 6.25em;
  margin-right: 0.625em;
}

.review-form--meta .details>.rating {
  margin: 0.4375em 0;
}

.review-form.reveal {
  transform: translateX(0);
}

.review-form input[type='radio'] {
  display: none;
}

.review-form input,
.review-form textarea {
  margin: 10px auto;
  width: 100%;
  border: 1px solid #bfbfbf;
  padding: 0.625em;
  resize: none;
}

.review-form .form-rating {
  direction: rtl;
  width: 100px;
  margin: 0.9375em;
  margin-left: -10px;
}

.review-form .form-rating label:hover {
  color: #ffdb0f;
}

.review-form .form-rating label:hover~label {
  color: #ffdb0f;
}

.review-form .form-rating input[type='radio']:checked~label {
  color: #ffdb0f;
}

.review-form .close-btn {
  position: absolute;
  top: 0;
  left: -1px;
  padding: 0.625em;
  background: #ff0000;
  color: #fff;
  cursor: pointer;
}

.reveal-text {
  margin: 10px;
  display: block;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

.user-orders {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  top: 0;
  left: 0;
  z-index: 9999;
}

.user-orders h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0.9375em;
}

.user-orders .orders-list {
  margin: 10px 1%;
  flex-basis: 23%;
}

.user-orders .orders-list li {
  padding: 0.4375em;
  height: auto;
  background: #fff;
}

.user-orders .orders-list li>b {
  display: block;
}

.hide {
  display: none;
}

