 <!-- Start: Site Content Container -->
 <div class="site-content">
    <form class="user-form">
        <div class="flash success">Your acount is not activated yet.<span class="fa fa-close"></span></div>
        <div class="user-form--group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="user-input">
        </div>
        <div class="user-form--group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="user-input">
        </div>
        <button type="submit" class="btn btn-gr">Log In</button>
        <hr>
        <a href="">Forgot your password ?</a>
    </form>
</div>
<!-- End: Site Content Container -->