 <!-- Start: Site Content Container -->
 <div class="site-content">
    <form [formGroup]="signinForm" (ngSubmit)="signInUser()" class="user-form">
        <div *ngIf="error" class="flash err">{{error}}<span close-flash class="fa fa-close"></span></div>
        <div class="user-form--group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="user-input">
        </div>
        <div class="user-form--group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="user-input">
        </div>
        <button [disabled]="signinForm.invalid" type="submit" class="btn btn-gr">Log In</button>
        <hr>
        <a [routerLink]="['/account/forgot']">Forgot your password ?</a>
    </form>
</div>
<!-- End: Site Content Container -->